.black-bar {
    height: 70px;
    background-color: #000000;
    color: #FFDA1A;
    /* Western Union Yellow */
    display: flex;
    align-items: center;
    padding: 0 2rem;
    justify-content: space-between;
    position: relative;
    z-index: 1000;
    border-bottom: 4px solid #FFDA1A;

    .logo {
        font-weight: 900;
        /* Extra bold */
        font-size: 1.8rem;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    nav a {
        color: #FFDA1A;
        text-decoration: none;
        margin-left: 2rem;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 0.9rem;

        &:hover {
            color: #fff;
            text-decoration: underline;
        }
    }
}

.content {
    padding: 2rem;
    text-align: center;
    margin-top: 2rem;
}